
{% extends 'base.html'%}
{% load static %}
{% block title %}about {% endblock title %}


{% block content %}




    <main class="main">
      <div class="section bg-success">
       
        
        <div class="container-sub"> 
          <h1 class="heading-44-medium color-white mb-5 wow fadeInDown">About Us</h1>


          

          <div class="box-breadcrumb wow fadeInUp">
            <ul>
              <li> <a href="index.html">Home</a></li>
              <li> <a href="service-grid.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section wow fadeInUp"><img src="{% static 'imgs/page/about/bg_services.png' %}" alt="luxride"></div>
      <section class="section">
        <div class="container-sub"> 
          <div class="mt-60"> 
            <h2 class="heading-44-medium mb-30 color-text title-fleet wow fadeInDown">We reimagine the way the world moves for the better</h2>
            <div class="content-single wow fadeInLeft"> 
              <p>We offer luxury chauffeur driven airport transfers and pickups to London. Exceptional Safe, Meet and Greet.  Professional Drivers & Vehicles. Fixed prices on airport transfers. VIP service, get your <a href='#'>quote today! </a></p>
              
              <ul class="list-ticks list-ticks-small">
                <li class="text-16 mb-20">100% Luxurious Fleet</li>
                <li class="text-16 mb-20">All Our Fleet Are Fully Valeted & Serviced</li>
                <li class="text-16 mb-20">A Safe & Secure Journey</li>
                <li class="text-16 mb-20">Comfortable And Enjoyable</li>
                <li class="text-16 mb-20">Clean, Polite & Knowledgeable</li>
              </ul>
            </div>
          </div>
        </div>
      </section>


      {% endblock content %}





      