<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.png">
    <link href="assets/css/style.css?v=1.0.0" rel="stylesheet">
    <title>Coming Soon - Multipurpose Startup SaaS HTML Template</title>
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="page-loading">
            <div class="page-loading-inner">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="perfect-scroll">
            <div class="mobile-menu-wrap mobile-header-border">
              <nav class="mt-15">
                <ul class="mobile-menu font-heading">
                  <li class="has-children"><a class="active" href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Homepage - 1</a></li>
                      <li><a href="index-2.html">Homepage - 2</a></li>
                      <li><a href="index-3.html">Homepage - 3</a></li>
                      <li><a href="index-4.html">Homepage - 4</a></li>
                      <li><a href="index-5.html">Homepage - 5</a></li>
                      <li><a href="index-6.html">Homepage - 6</a></li>
                      <li><a href="index-7.html">Homepage - 7</a></li>
                      <li><a href="index-8.html">Homepage - 8</a></li>
                      <li><a href="index-9.html">Homepage - 9</a></li>
                      <li><a href="index-10.html">Homepage - 10</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="register.html">Register</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404.html">Error 404</a></li>
                      <li><a href="booking-vehicle.html">Booking</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="fleet-list.html">Our Fleet</a>
                    <ul class="sub-menu">
                      <li><a href="fleet-list.html">Our Fleet 1</a></li>
                      <li><a href="fleet-list-2.html">Our Fleet 2</a></li>
                      <li><a href="fleet-list-3.html">Our Fleet 3</a></li>
                      <li><a href="fleet-list-4.html">Our Fleet 4</a></li>
                      <li><a href="fleet-single.html">Fleet single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="service-grid.html">Services</a>
                    <ul class="sub-menu">
                      <li><a href="service-grid.html">Service Listing</a></li>
                      <li><a href="service-grid-2.html">Service Listing 2</a></li>
                      <li><a href="service-grid-3.html">Service Listing 3</a></li>
                      <li><a href="service-single.html">Service Single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-grid-2.html">Blog Grid 2</a></li>
                      <li><a href="blog-list.html">Blog List</a></li>
                      <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <section class="section">
        <div class="box-comingsoon"> 
          <div class="inner-comingsoon"> 
            <h2 class="heading-44-medium color-white wow fadeInDown">We Are</h2>
            <h1 class="heading-100-medium color-white wow fadeInLeft">COMING SOON</h1>
            <div class="box-count box-count-square mb-30 mt-90 wow fadeInUp">
              <div class="deals-countdown" data-countdown="2023/06/08 00:00:00"></div>
            </div>
            <p class="text-16 color-white wow fadeInRight">Please subscribe to newsletter to get updates from us.</p>
            <div class="box-subscriber mt-30 wow fadeInUp"> 
              <div class="inner-box-subscriber"> 
                <form action="#">
                  <input class="form-control" type="text" placeholder="Your Email">
                  <input class="btn btn-subscriber" type="submit" value="Subscribe">
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/waypoints.js"></script>
    <script src="assets/js/vendors/wow.js"></script>
    <script src="assets/js/vendors/magnific-popup.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/isotope.js"></script>
    <script src="assets/js/vendors/scrollup.js"></script>
    <script src="assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="assets/js/vendors/noUISlider.js"></script>
    <script src="assets/js/vendors/slider.js"></script>
    <!-- Count down-->
    <script src="assets/js/vendors/counterup.js"></script>
    <script src="assets/js/vendors/jquery.countdown.min.js"></script>
    <!-- Count down--><script src="assets/js/vendors/jquery.elevatezoom.js"></script>
<script src="assets/js/vendors/slick.js"></script>
<script src="assets/js/vendors/jquery-ui.js"></script>
<script src="assets/js/vendors/jquery.timepicker.min.js"></script>
    <script src="assets/js/main.js?v=1.0.0"></script>
  </body>
</html>