<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.png">
    <link href="assets/css/style.css?v=1.0.0" rel="stylesheet">
    <title>Homepage 7 - Multipurpose Startup SaaS HTML Template</title>
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="page-loading">
            <div class="page-loading-inner">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="header header-white sticky-bar header-7">  
      <div class="container-sub">
        <div class="main-header">
          <div class="header-left">
            <div class="header-logo wow fadeInLeft"><a class="d-flex" href="index.html"><img alt="Ecom" src="assets/imgs/template/logo-black.svg"></a></div>
            <div class="header-nav wow fadeInDown">
              <nav class="nav-main-menu d-none d-xl-block">
                <ul class="main-menu">
                  <li class="has-children"><a class="active" href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Homepage 1</a></li>
                      <li><a href="index-2.html">Homepage 2</a></li>
                      <li><a href="index-3.html">Homepage 3</a></li>
                      <li><a href="index-4.html">Homepage 4</a></li>
                      <li><a href="index-5.html">Homepage 5</a></li>
                      <li><a href="index-6.html">Homepage 6</a></li>
                      <li><a href="index-7.html">Homepage 7</a></li>
                      <li><a href="index-8.html">Homepage 8</a></li>
                      <li><a href="index-9.html">Homepage 9</a></li>
                      <li><a href="index-10.html">Homepage 10</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="about.html">About</a></li>
                      <li><a href="about-2.html">About 2</a></li>
                      <li><a href="our-team.html">Our team</a></li>
                      <li><a href="team-single.html">Team single</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Register</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404.html">Error 404</a></li>
                      <li><a href="booking-vehicle.html">Booking vehicle</a></li>
                      <li><a href="booking-extra.html">Booking Extra</a></li>
                      <li><a href="booking-passenger.html">Booking Passenger</a></li>
                      <li><a href="booking-payment.html">Booking Payment</a></li>
                      <li><a href="booking-receved.html">Booking Receieved</a></li>
                      <li><a href="invoice.html">Invoice</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="fleet-list.html">Our Fleet</a>
                    <ul class="sub-menu">
                      <li><a href="fleet-list.html">Our Fleet 1</a></li>
                      <li><a href="fleet-list-2.html">Our Fleet 2</a></li>
                      <li><a href="fleet-list-3.html">Our Fleet 3</a></li>
                      <li><a href="fleet-list-4.html">Our Fleet 4</a></li>
                      <li><a href="fleet-single.html">Fleet single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="service-grid.html">Services</a>
                    <ul class="sub-menu">
                      <li><a href="service-grid.html">Service Listing</a></li>
                      <li><a href="service-grid-2.html">Service Listing 2</a></li>
                      <li><a href="service-grid-3.html">Service Listing 3</a></li>
                      <li><a href="service-single.html">Service Single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="blog-list.html">Blog</a>
                    <ul class="sub-menu">
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-grid-2.html">Blog Grid 2</a></li>
                      <li><a href="blog-list.html">Blog List</a></li>
                      <li><a href="blog-single.html">Blog Single</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
              <div class="burger-icon burger-icon-white"><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
            <div class="header-right wow fadeInRight">
              <div class="box-button-login d-inline-block mr-20 align-middle"><a class="btn btn-link color-text text-14-medium hover-up" href="login.html">Log In</a></div>
              <div class="box-button-login d-none2 d-inline-block align-middle"><a class="btn btn-border-black-small hover-up" href="register.html">Sign Up</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="perfect-scroll">
            <div class="mobile-menu-wrap mobile-header-border">
              <nav class="mt-15">
                <ul class="mobile-menu font-heading">
                  <li class="has-children"><a class="active" href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Homepage - 1</a></li>
                      <li><a href="index-2.html">Homepage - 2</a></li>
                      <li><a href="index-3.html">Homepage - 3</a></li>
                      <li><a href="index-4.html">Homepage - 4</a></li>
                      <li><a href="index-5.html">Homepage - 5</a></li>
                      <li><a href="index-6.html">Homepage - 6</a></li>
                      <li><a href="index-7.html">Homepage - 7</a></li>
                      <li><a href="index-8.html">Homepage - 8</a></li>
                      <li><a href="index-9.html">Homepage - 9</a></li>
                      <li><a href="index-10.html">Homepage - 10</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="register.html">Register</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404.html">Error 404</a></li>
                      <li><a href="booking-vehicle.html">Booking</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="fleet-list.html">Our Fleet</a>
                    <ul class="sub-menu">
                      <li><a href="fleet-list.html">Our Fleet 1</a></li>
                      <li><a href="fleet-list-2.html">Our Fleet 2</a></li>
                      <li><a href="fleet-list-3.html">Our Fleet 3</a></li>
                      <li><a href="fleet-list-4.html">Our Fleet 4</a></li>
                      <li><a href="fleet-single.html">Fleet single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="service-grid.html">Services</a>
                    <ul class="sub-menu">
                      <li><a href="service-grid.html">Service Listing</a></li>
                      <li><a href="service-grid-2.html">Service Listing 2</a></li>
                      <li><a href="service-grid-3.html">Service Listing 3</a></li>
                      <li><a href="service-single.html">Service Single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-grid-2.html">Blog Grid 2</a></li>
                      <li><a href="blog-list.html">Blog List</a></li>
                      <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <section class="section banner-homepage6">
        <div class="container-fluid"> 
          <div class="banner-homepage7"> 
            <div class="row align-items-center"> 
              <div class="col-lg-7">
                <div class="row"> 
                  <div class="col-xxl-4 col-xl-2 col-lg-12"></div>
                  <div class="col-xxl-8 col-xl-10 col-lg-12">
                    <div class="box-banner-homepage7-left">
                      <h2 class="heading-44-medium color-text mb-30 wow fadeInUp">Download the app </h2>
                      <p class="text-16 color-text wow fadeInUp">Easily book, change, or cancel rides on the go. Think of it as peace of mind in the palm of your hand.</p>
                      <div class="box-button-banner mt-50 wow fadeInUp"> 
                        <div class="box-button-download"> <a class="btn btn-download mr-15 hover-up wow fadeInRight" href="#">
                            <div class="inner-download">
                              <div class="icon-download"> <img src="assets/imgs/template/icons/apple-icon.svg" alt="luxride"></div>
                              <div class="info-download"> <span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                            </div></a><a class="btn btn-download hover-up wow fadeInRight" href="#">
                            <div class="inner-download">
                              <div class="icon-download"> <img src="assets/imgs/template/icons/google-icon.svg" alt="luxride"></div>
                              <div class="info-download"> <span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                            </div></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="box-banner-homepage7-right wow fadeInUp"><img src="assets/imgs/page/homepage7/banner.png" alt="luxride"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="box-number-banner"> 
                <div class="number-1 wow fadeInUp"> 
                  <h3 class="heading-44-medium color-white">285</h3>
                  <p class="text-20 color-white">Vehicles</p>
                </div>
                <div class="number-1 wow fadeInDown">
                  <h3 class="heading-44-medium color-white">97</h3>
                  <p class="text-20 color-white">Awards</p>
                </div>
                <div class="number-1 wow fadeInUp"> 
                  <h3 class="heading-44-medium color-white">13K</h3>
                  <p class="text-20 color-white">Happy Customer</p>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="box-some-number wow fadeInUp"> 
                <h6 class="heading-24-medium color-white">Showcase some impressive <br class="d-none d-lg-block">numbers.</h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section mt-110"> 
        <div class="container-sub"> 
          <div class="text-center">
            <h2 class="heading-44-medium color-text wow fadeInUp">How Does It Work</h2>
          </div>
          <div class="row mt-60 box-how-it-work"> 
            <div class="col-md-4"> 
              <div class="cardNumberTitleDesc cardNumberTitleDescStyle2 wow fadeInRight">
                <div class="cardNumber"><span>01</span></div>
                <div class="cardInfo">
                  <div class="cardTitle">
                    <h5 class="text-20-medium color-text">Create Your Route</h5>
                  </div>
                  <div class="cardDesc">
                    <p class="text-16 color-text">Enter your pickup &amp; dropoff locations or the number of hours you wish to book a car and driver for</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"> 
              <div class="cardNumberTitleDesc cardNumberTitleDescStyle2 wow fadeInRight">
                <div class="cardNumber"><span>02</span></div>
                <div class="cardInfo">
                  <div class="cardTitle">
                    <h5 class="text-20-medium color-text">Choose Vehicle For You</h5>
                  </div>
                  <div class="cardDesc">
                    <p class="text-16 color-text">On the day of your ride, you will receive two email and SMS updates - one informing you that.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"> 
              <div class="cardNumberTitleDesc cardNumberTitleDescStyle2 wow fadeInRight">
                <div class="cardNumber"><span>03</span></div>
                <div class="cardInfo">
                  <div class="cardTitle">
                    <h5 class="text-20-medium color-text">Enjoy The Journey</h5>
                  </div>
                  <div class="cardDesc">
                    <p class="text-16 color-text">After your ride has taken place, we would appreciate it if you could rate your car and driver.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section mt-120 mb-30 bg-region bg-enjoy">
        <div class="container-fluid">
          <div class="row align-items-center"> 
            <div class="col-lg-5 wow fadeInUp"><img src="assets/imgs/page/homepage7/img1.png" alt="luxride"></div>
            <div class="col-lg-7 mt-30 mb-30">
              <div class="box-region-right wow fadeInUp">
                <h2 class="heading-44-medium color-text mb-30">Enjoy The Freedom Of Rental Anywhere You Want</h2>
                <p class="text-16 color-text mb-30">Nullam sed ultricies erat, nec euismod metus. Morbi porttitor sapien vitae leo scelerisque. Nullam sed ultricies erat.</p>
                <ul class="list-ticks list-ticks-style-2 mb-30">
                  <li>Business Class</li>
                  <li>First Class</li>
                  <li>Business Van/SUV</li>
                  <li>Electric Class</li>
                </ul><a class="btn btn-primary">See All Vehicles
                  <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section pt-120">
        <div class="container-sub"> 
          <div class="row align-items-center">
            <div class="col-lg-6 col-sm-7 col-7">
              <h2 class="heading-44-medium wow fadeInUp">Top Cities</h2>
            </div>
            <div class="col-lg-6 col-sm-5 col-5 text-end"><a class="text-16-medium color-primary d-flex align-items-center justify-content-end wow fadeInUp" href="#">More Cities
                <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                </svg></a></div>
          </div>
          <div class="box-slide-fleet-2 mt-50">
            <div class="box-swiper"> 
              <div class="swiper-container swiper-group-4-fleet pb-0">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInRight">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city1.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">20 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">London</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInRight">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city2.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">8 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">New York</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInRight">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city3.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">6 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Berlin</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInRight">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city4.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">4 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Paris</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInRight">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city5.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">20 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Los Angeles</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardCities wow fadeInRight">
                      <div class="cardImage"><a href="#"><img src="assets/imgs/page/homepage3/city6.png" alt="Luxride"></a></div>
                      <div class="cardInfo"><a href="#">
                          <h3 class="cardTitle color-text">20 routes to/from this city</h3></a>
                        <p class="cardDesc color-text">Roma</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-pagination-fleet">
                  <div class="swiper-button-prev swiper-button-prev-fleet">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                    </svg>
                  </div>
                  <div class="swiper-button-next swiper-button-next-fleet">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section bg-our-service-home-7">
        <div class="container-sub"> 
          <div class="row align-items-center">
            <div class="col-lg-6 col-sm-7 col-7">
              <h2 class="color-white heading-44-medium wow fadeInUp">Our Services</h2>
            </div>
            <div class="col-lg-6 col-sm-5 col-5 text-end"><a class="text-16-medium color-white d-flex align-items-center justify-content-end wow fadeInUp" href="#">More Services
                <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                </svg></a></div>
          </div>
          <div class="box-slide-fleet-2 mt-50">
            <div class="box-swiper"> 
              <div class="swiper-container swiper-group-3-fleet pb-45">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> 
                    <div class="cardService cardServiceStyle4 wow fadeInRight"><a href="service-single.html">
                        <div class="cardImage"><img src="assets/imgs/page/homepage7/service1.png" alt="Luxride"></div>
                        <div class="cardInfo">
                          <h3 class="cardTitle text-20-medium color-white mb-10">Intercity Rides</h3>
                        </div></a></div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardService cardServiceStyle4 wow fadeInRight"><a href="service-single.html">
                        <div class="cardImage"><img src="assets/imgs/page/homepage7/service2.png" alt="Luxride"></div>
                        <div class="cardInfo">
                          <h3 class="cardTitle text-20-medium color-white mb-10">Chauffeur Hailing</h3>
                        </div></a></div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="cardService cardServiceStyle4 wow fadeInRight"><a href="service-single.html">
                        <div class="cardImage"><img src="assets/imgs/page/homepage7/service3.png" alt="Luxride"></div>
                        <div class="cardInfo">
                          <h3 class="cardTitle text-20-medium color-white mb-10">Airport Transfers</h3>
                        </div></a></div>
                  </div>
                </div>
              </div>
              <div class="box-pagination-fleet">
                <div class="swiper-button-prev swiper-button-prev-fleet">
                  <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                  </svg>
                </div>
                <div class="swiper-button-next swiper-button-next-fleet">
                  <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section pt-120 box-testimonials box-testimonials-homepage7">
        <div class="container-sub"> 
          <div class="text-center"> 
            <h3 class="heading-44-medium color-text wow fadeInUp">Hear what our amazing <br class="d-none d-lg-block">customers say</h3>
          </div>
          <div class="row mt-50"> 
            <div class="col-lg-2 col-md-3 mb-30">
              <div class="box-customers-images wow fadeInUp">
                <div class="image-customer active"><img src="assets/imgs/page/homepage6/customer1.png" alt="luxride">
                  <div class="customer-quote"> <img src="assets/imgs/page/homepage6/customer-quote.png" alt="luxride"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 mb-30">
              <div class="box-swiper"> 
                <div class="swiper-container swiper-group-testimonials-fraction pb-50">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="color-text heading-24-medium">
                           For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”.</div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="color-text heading-24-medium">
                           For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”.</div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="color-text heading-24-medium">
                           For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”.</div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="cardQuote cardTestimonialsStyle2 wow fadeInUp">
                        <div class="color-text heading-24-medium">
                           For my return pickup from the hotel to airport, I was assigned 4 drivers instead of the original 3. Was not provided the 4th drivers contact information and he was late for pickup causing delay of departure to the airport. For 20 minutes, I was told he was “at the light”.</div>
                      </div>
                    </div>
                  </div>
                  <div class="box-pagination-fleet">
                    <div class="swiper-button-prev swiper-button-prev-fleet swiper-button-prev-small swiper-button-prev-testimonials-fraction">
                      <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                      </svg>
                    </div>
                    <div class="swiper-button-next swiper-button-next-fleet swiper-button-next-small swiper-button-next-testimonials-fraction">
                      <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                      </svg>
                    </div>
                    <div class="swiper-pagination swiper-pagination-testimonials-fraction"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section box-make-your-trip bg-2">
        <div class="bg-right-trip"></div>
        <div class="container-sub"> 
          <div class="row"> 
            <div class="col-lg-6"> 
              <h3 class="heading-44-medium color-text mb-60 wow fadeInUp">Make Your Trip Your Way With Us</h3>
              <ul class="list-features-trip">
                <li class="wow fadeInUp"> 
                  <div class="feature-left"> <img src="assets/imgs/page/homepage7/route.svg" alt="luxride"></div>
                  <div class="feature-right"> 
                    <h6 class="text-20-medium color-text mb-5">Safety First </h6>
                    <p class="color-text text-16">Both you and your shipments will travel with professional drivers. Always with the highest quality standards.</p>
                  </div>
                </li>
                <li class="wow fadeInUp"> 
                  <div class="feature-left"> <img src="assets/imgs/page/homepage7/price.svg" alt="luxride"></div>
                  <div class="feature-right"> 
                    <h6 class="text-20-medium color-text mb-5">Prices With No Surprises</h6>
                    <p class="color-text text-16">Both you and your shipments will travel with professional drivers. Always with the highest quality standards.</p>
                  </div>
                </li>
                <li class="wow fadeInUp"> 
                  <div class="feature-left"> <img src="assets/imgs/page/homepage7/vehicle.svg" alt="luxride"></div>
                  <div class="feature-right"> 
                    <h6 class="text-20-medium color-text mb-5">Private Travel Solutions</h6>
                    <p class="color-text text-16">Both you and your shipments will travel with professional drivers. Always with the highest quality standards.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section pt-120 bg-white latest-new-white">
        <div class="container-sub"> 
          <div class="row align-items-center">
            <div class="col-lg-6 col-7">
              <h2 class="heading-44-medium color-text wow fadeInLeft">Latest From News</h2>
            </div>
            <div class="col-lg-6 col-5 text-end"><a class="text-16-medium color-text hover-up d-inline-block wow fadeInRight" href="#">More News
                <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                </svg></a></div>
          </div>
          <div class="row mt-50"> 
            <div class="col-lg-4"> 
              <div class="cardNews wow fadeInUp"><a href="blog-single.html">
                  <div class="cardImage">
                    <div class="datePost">
                      <div class="heading-52-medium color-white">14.</div>
                      <p class="text-14 color-white">Jun, 2022</p>
                    </div><img src="assets/imgs/page/homepage1/news1.png" alt="luxride">
                  </div></a>
                <div class="cardInfo">
                  <div class="tags mb-10"><a href="#">Travel</a></div><a class="color-white" href="blog-single.html">
                    <h3 class="text-20-medium color-white mb-20">3 hidden-gem destinations for your wish list</h3></a><a class="cardLink btn btn-arrow-up" href="blog-single.html">
                    <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4"> 
              <div class="cardNews wow fadeInUp"><a href="blog-single.html">
                  <div class="cardImage">
                    <div class="datePost">
                      <div class="heading-52-medium color-white">18.</div>
                      <p class="text-14 color-white">Jun, 2022</p>
                    </div><img src="assets/imgs/page/homepage1/news2.png" alt="luxride">
                  </div></a>
                <div class="cardInfo">
                  <div class="tags mb-10"><a href="#">Culture</a></div><a class="color-white" href="blog-single.html">
                    <h3 class="text-20-medium color-white mb-20">Explore the big things happening in Dallas</h3></a><a class="cardLink btn btn-arrow-up" href="blog-single.html">
                    <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4"> 
              <div class="cardNews wow fadeInUp"><a href="blog-single.html">
                  <div class="cardImage">
                    <div class="datePost">
                      <div class="heading-52-medium color-white">20.</div>
                      <p class="text-14 color-white">Jun, 2022</p>
                    </div><img src="assets/imgs/page/homepage1/news3.png" alt="luxride">
                  </div></a>
                <div class="cardInfo">
                  <div class="tags mb-10"><a href="#">News</a></div><a class="color-white" href="blog-single.html">
                    <h3 class="text-20-medium color-white mb-20">LA’s worst traffic areas and how to avoid them</h3></a><a class="cardLink btn btn-arrow-up" href="blog-single.html">
                    <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section pt-30 pb-35">
        <div class="container-sub"> 
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4 mb-30"> 
              <h3 class="color-primary wow fadeInLeft">The partners who sell<br class="d-none d-lg-block">our products</h3>
            </div>
            <div class="col-xl-9 col-lg-8 mb-30">
              <ul class="list-logos d-flex align-item-center wow fadeInRight"> 
                <li><img src="assets/imgs/slider/logo/air.svg" alt="Luxride"></li>
                <li><img src="assets/imgs/slider/logo/eb.svg" alt="Luxride"></li>
                <li><img src="assets/imgs/slider/logo/nba.svg" alt="Luxride"></li>
                <li><img src="assets/imgs/slider/logo/nla.svg" alt="Luxride"></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section mt-50 bg-download bg-download-black"> 
        <div class="container-sub"> 
          <h2 class="heading-44-medium color-white mb-20 wow fadeInDown">Download the app</h2>
          <p class="color-white text-16 mb-60 wow fadeInDown">Have a personal driver at your fingertips no matter where you <br class="d-none d-md-block">are with our easy-to-use smartphone app.</p>
          <div class="box-button-download"> <a class="btn btn-download mr-15 hover-up wow fadeInRight" href="#">
              <div class="inner-download">
                <div class="icon-download"> <img src="assets/imgs/template/icons/apple-icon.svg" alt="luxride"></div>
                <div class="info-download"> <span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
              </div></a><a class="btn btn-download hover-up wow fadeInRight" href="#">
              <div class="inner-download">
                <div class="icon-download"> <img src="assets/imgs/template/icons/google-icon.svg" alt="luxride"></div>
                <div class="info-download"> <span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
              </div></a></div>
        </div>
      </section>
    </main>
    <footer class="footer footer-white footer-bg-4">
      <div class="footer-1">
        <div class="container-sub">
          <div class="box-footer-top">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 text-md-start text-center mb-15 wow fadeInLeft">
                <div class="d-flex align-items-center justify-content-md-start justify-content-center"><a class="mr-30" href="#"><img src="assets/imgs/template/logo-black.svg" alt="Luxride"></a><a class="text-14-medium call-phone color-white hover-up" href="tel:+41227157000">+41 22 715 7000</a></div>
              </div>
              <div class="col-lg-6 col-md-6 text-md-end text-center mb-15 wow fadeInLeft">
                <div class="d-flex align-items-center justify-content-md-end justify-content-center"><span class="text-18-medium color-white mr-10">Follow Us</span><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-lg-3 width-20 wow fadeInLeft">
              <h5 class="text-18-medium color-white mb-20">Company</h5>
              <ul class="menu-footer">
                <li><a href="#">About us</a></li>
                <li><a href="#">Our offerings</a></li>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Gift cards</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-20 mb-30 wow fadeInLeft">
              <h5 class="text-18-medium color-white mb-20">Top cities</h5>
              <ul class="menu-footer">
                <li><a href="about.html">New York</a></li>
                <li><a href="our-team.html">London</a></li>
                <li><a href="#">Berlin</a></li>
                <li><a href="#">Los Angeles</a></li>
                <li><a href="#">Paris</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-20 mb-30 wow fadeInUp">
              <h5 class="text-18-medium color-white mb-20">Explore</h5>
              <ul class="menu-footer">
                <li><a href="#">Intercity rides</a></li>
                <li><a href="#">Limousine service</a></li>
                <li><a href="#">Chauffeur service</a></li>
                <li><a href="#">Private car service</a></li>
                <li><a href="#">Ground transportation</a></li>
                <li><a href="#">Airport transfer</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-20 mb-30 wow fadeInRight">
              <h5 class="text-18-medium color-white mb-20">Classes</h5>
              <ul class="menu-footer">
                <li><a href="#">Business</a></li>
                <li><a href="#">First</a></li>
                <li><a href="#">XL</a></li>
                <li><a href="#">Assistant</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-20 wow fadeInRight">
              <h5 class="text-18-medium color-white mb-20">Download The App</h5>
              <div class="text-start">
                <div class="box-button-download"><a class="btn btn-download mb-20 hover-up wow fadeInRight" href="#">
                    <div class="inner-download">
                      <div class="icon-download"><img src="assets/imgs/template/icons/apple-icon.svg" alt="luxride"></div>
                      <div class="info-download"><span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                    </div></a><a class="btn btn-download mb-20 hover-up wow fadeInRight" href="#">
                    <div class="inner-download">
                      <div class="icon-download"><img src="assets/imgs/template/icons/google-icon.svg" alt="luxride"></div>
                      <div class="info-download"><span class="text-download-top">Download on the</span><span class="text-14-medium">Apple Store</span></div>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-2">
        <div class="container-sub">
          <div class="footer-bottom">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-12 text-center text-lg-start"><span class="text-14 color-white mr-50">© 2023 Luxride</span>
                <ul class="menu-bottom">
                  <li><a href="term-conditions.html">Terms</a></li>
                  <li><a href="term-conditions.html">Privacy policy</a></li>
                  <li><a href="term-conditions.html">Legal notice</a></li>
                  <li><a href="#">Accessibility</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-12 text-center text-lg-end"><a class="btn btn-link-location" href="#">New York</a><a class="btn btn-link-globe active" href="#">English</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/waypoints.js"></script>
    <script src="assets/js/vendors/wow.js"></script>
    <script src="assets/js/vendors/magnific-popup.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/isotope.js"></script>
    <script src="assets/js/vendors/scrollup.js"></script>
    <script src="assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="assets/js/vendors/noUISlider.js"></script>
    <script src="assets/js/vendors/slider.js"></script>
    <!-- Count down-->
    <script src="assets/js/vendors/counterup.js"></script>
    <script src="assets/js/vendors/jquery.countdown.min.js"></script>
    <!-- Count down--><script src="assets/js/vendors/jquery.elevatezoom.js"></script>
<script src="assets/js/vendors/slick.js"></script>
<script src="assets/js/vendors/jquery-ui.js"></script>
<script src="assets/js/vendors/jquery.timepicker.min.js"></script>
    <script src="assets/js/main.js?v=1.0.0"></script>
  </body>
</html>