<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.png">
    <link href="assets/css/style.css?v=1.0.0" rel="stylesheet">
    <title>Invoice - Multipurpose Startup SaaS HTML Template</title>
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="page-loading">
            <div class="page-loading-inner">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="perfect-scroll">
            <div class="mobile-menu-wrap mobile-header-border">
              <nav class="mt-15">
                <ul class="mobile-menu font-heading">
                  <li class="has-children"><a class="active" href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Homepage - 1</a></li>
                      <li><a href="index-2.html">Homepage - 2</a></li>
                      <li><a href="index-3.html">Homepage - 3</a></li>
                      <li><a href="index-4.html">Homepage - 4</a></li>
                      <li><a href="index-5.html">Homepage - 5</a></li>
                      <li><a href="index-6.html">Homepage - 6</a></li>
                      <li><a href="index-7.html">Homepage - 7</a></li>
                      <li><a href="index-8.html">Homepage - 8</a></li>
                      <li><a href="index-9.html">Homepage - 9</a></li>
                      <li><a href="index-10.html">Homepage - 10</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="register.html">Register</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404.html">Error 404</a></li>
                      <li><a href="booking-vehicle.html">Booking</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="fleet-list.html">Our Fleet</a>
                    <ul class="sub-menu">
                      <li><a href="fleet-list.html">Our Fleet 1</a></li>
                      <li><a href="fleet-list-2.html">Our Fleet 2</a></li>
                      <li><a href="fleet-list-3.html">Our Fleet 3</a></li>
                      <li><a href="fleet-list-4.html">Our Fleet 4</a></li>
                      <li><a href="fleet-single.html">Fleet single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="service-grid.html">Services</a>
                    <ul class="sub-menu">
                      <li><a href="service-grid.html">Service Listing</a></li>
                      <li><a href="service-grid-2.html">Service Listing 2</a></li>
                      <li><a href="service-grid-3.html">Service Listing 3</a></li>
                      <li><a href="service-single.html">Service Single</a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-grid-2.html">Blog Grid 2</a></li>
                      <li><a href="blog-list.html">Blog List</a></li>
                      <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <section class="section bg-3 box-invoice-block">
        <div class="box-invoice"> 
          <div class="inner-invoice"> 
            <div class="d-flex invoice-top"> 
              <div class="invoice-left"> 
                <div class="mb-60"><img class="mb-65" src="assets/imgs/page/invoice/logo.png" alt="luxride">
                  <p class="text-grey text-14">Invoice date:</p>
                  <p class="text-16-medium color-text">22 April 2022</p>
                </div>
                <div class="mb-50"> 
                  <h5 class="text-18-medium color-text mb-15">Supplier</h5>
                  <h6 class="text-16-medium color-text mb-5">Realton LLC</h6>
                  <p class="color-grey text-14">2301 Ravenswood Rd Madison, WI 53711</p>
                </div>
              </div>
              <div class="invoice-right"> 
                <div class="mb-60">
                  <div class="d-flex justify-content-between mb-65"> 
                    <h3 class="heading-24-medium color-text">Invoice #</h3><span class="text-16-medium color-text">0043128641</span>
                  </div>
                  <p class="text-grey text-14">Due date::</p>
                  <p class="text-16-medium color-text">22 April 2022</p>
                </div>
                <div class="mb-50"> 
                  <h5 class="text-18-medium color-text mb-15">Customer</h5>
                  <h6 class="text-16-medium color-text mb-5">John Doe</h6>
                  <p class="color-grey text-14">329 Queensberry Street, North Melbourne VIC 3051, Australia.</p>
                </div>
              </div>
            </div>
            <table class="table table-invoice"> 
              <thead> 
                <tr>
                  <th>Description</th>
                  <th>Price</th>
                  <th>VAT (20%)</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody> 
                <tr> 
                  <td>Standard Plan	</td>
                  <td>$443.00</td>
                  <td>$921.80	</td>
                  <td>$9243</td>
                </tr>
                <tr> 
                  <td>Standard Plan	</td>
                  <td>$443.00</td>
                  <td>$921.80	</td>
                  <td>$9243</td>
                </tr>
                <tr> 
                  <td><span class="text-18-medium color-text">Total Due</span></td>
                  <td> </td>
                  <td>	</td>
                  <td> <span class="text-18-medium color-text">$9,750</span></td>
                </tr>
              </tbody>
            </table>
            <div class="bottom-invoice"> <a href="www.luxride.com">www.luxride.com</a><a href="mailto:invoice@luxride.com">invoice@luxride.com</a><a href="tel:123-123-456">(123) 123-456</a></div>
          </div>
        </div>
      </section>
    </main>
    <script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/waypoints.js"></script>
    <script src="assets/js/vendors/wow.js"></script>
    <script src="assets/js/vendors/magnific-popup.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/isotope.js"></script>
    <script src="assets/js/vendors/scrollup.js"></script>
    <script src="assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="assets/js/vendors/noUISlider.js"></script>
    <script src="assets/js/vendors/slider.js"></script>
    <!-- Count down-->
    <script src="assets/js/vendors/counterup.js"></script>
    <script src="assets/js/vendors/jquery.countdown.min.js"></script>
    <!-- Count down--><script src="assets/js/vendors/jquery.elevatezoom.js"></script>
<script src="assets/js/vendors/slick.js"></script>
<script src="assets/js/vendors/jquery-ui.js"></script>
<script src="assets/js/vendors/jquery.timepicker.min.js"></script>
    <script src="assets/js/main.js?v=1.0.0"></script>
  </body>
</html>