
    {% extends 'base.html' %}
    {% load static %}
    {% block title %}pricing {% endblock title %}

    {% block content %}
    
    
    <main class="main">
      <div class="section pt-60 pb-60 bg-primary">
        <div class="container-sub"> 
          <h1 class="heading-44-medium color-white mb-5 wow fadeInDown">Price Table</h1>
          <div class="box-breadcrumb wow fadeInUp"> 
            <ul>
              <li> <a href="index.html">Home</a></li>
              <li> <a href="our-team.html">Price Table</a></li>
            </ul>
          </div>
        </div>
      </div>
      <section class="section mt-120 mb-100"> 
        <div class="container-sub"> 
          <div class="text-center"> 
            <h2 class="heading-44-medium wow fadeInDown">Price Table </h2>
          </div>
          
          <div class="row mt-20 align-items-end pricing-style-2"> 
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="card-plan hover-up wow fadeInRight">
                <div class="card-plan-top">
                  <div class="card-top-left-info">
                    <h5 class="color-text text-20-medium title-plan">Basic</h5>
                    <div class="for-month display-month">
                      <h3 class="heading-36-medium">Free</h3>
                      <p class="text-14 color-text desc-plan">per month</p>
                    </div>
                    <div class="for-year">
                      <h3 class="heading-36-medium">Free</h3>
                      <p class="text-14 color-text desc-plan">per year</p>
                    </div>
                  </div>
                  <div class="card-top-right-image"><img src="assets/imgs/page/pricing/free.png" alt="luxride"></div>
                </div>
                <div class="item-desc-plan">
                  <p class="color-text text-14">Standard listing submission, active for 30 dayss</p>
                </div>
                <div class="mt-30 mb-30">
                  <ul class="list-ticks-plan">
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>All Operating Supported
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Great Interface
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Allows encryption
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Face recognized system
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>24/7 Full support
                    </li>
                  </ul>
                </div>
                <div class="mt-20"><a class="btn btn-border-black" href="#">Join
                    <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg></a></div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="card-plan hover-up wow fadeInRight">
                <div class="card-plan-top">
                  <div class="card-top-left-info">
                    <h5 class="color-text text-20-medium title-plan">Professional</h5>
                    <div class="for-month display-month">
                      <h3 class="heading-36-medium">$599.95</h3>
                      <p class="text-14 color-text desc-plan">per month</p>
                    </div>
                    <div class="for-year">
                      <h3 class="heading-36-medium">$7,199.4</h3>
                      <p class="text-14 color-text desc-plan">per year</p>
                    </div>
                  </div>
                  <div class="card-top-right-image"><img src="{% static 'imgs/page/pricing/professional.png' %}" alt="luxride"></div>
                </div>
                <div class="item-desc-plan">
                  <p class="color-text text-14">Standard listing submission, active for 30 dayss</p>
                </div>
                <div class="mt-30 mb-30">
                  <ul class="list-ticks-plan">
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>All Operating Supported
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Great Interface
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Allows encryption
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Face recognized system
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>24/7 Full support
                    </li>
                  </ul>
                </div>
                <div class="mt-20"><a class="btn btn-border-black" href="#">Join
                    <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg></a></div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="card-plan hover-up wow fadeInRight">
                <div class="card-plan-top">
                  <div class="card-top-left-info">
                    <h5 class="color-text text-20-medium title-plan">Bussiness</h5>
                    <div class="for-month display-month">
                      <h3 class="heading-36-medium">$999.95</h3>
                      <p class="text-14 color-text desc-plan">per month</p>
                    </div>
                    <div class="for-year">
                      <h3 class="heading-36-medium">$11,999.4</h3>
                      <p class="text-14 color-text desc-plan">per year</p>
                    </div>
                  </div>
                  <div class="card-top-right-image"><img src="assets/imgs/page/pricing/bussiness.png" alt="luxride"></div>
                </div>
                <div class="item-desc-plan">
                  <p class="color-text text-14">Standard listing submission, active for 30 dayss</p>
                </div>
                <div class="mt-30 mb-30">
                  <ul class="list-ticks-plan">
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>All Operating Supported
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Great Interface
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Allows encryption
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>Face recognized system
                    </li>
                    <li>
                      <svg class="icon-16" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path>
                      </svg>24/7 Full support
                    </li>
                  </ul>
                </div>
                <div class="mt-20"><a class="btn btn-border-black" href="#">Join
                    <svg class="icon-16" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


    {% endblock content %}