{% extends 'base.html' %}
{% load static %}
{% block title %}servicedetails{% endblock title%}

{% block content %}





<main class="main">
    <div class="section pt-60 pb-60 bg-primary">
      <div class="container-sub"> 
        <h1 class="heading-44-medium color-white mb-5 wow fadeInDown">Airport Transfer Service</h1>
        <div class="box-breadcrumb wow fadeInUp"> 
          <ul>
            <li> <a href="index.html">Home</a></li>
            <li> <a href="service-grid.html">Services</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="banner-image-service wow fadeInDown"></div>
      <div class="box-form-service-single">
        <div class="box-search-ride box-search-ride-style-2 wow fadeInDown"> 
          <div class="box-search-tabs">



        




            

                          


                  
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <section class="section">
      <div class="container-sub"> 
        <div class="mt-120"> 
          <h2 class="heading-44-medium mb-30 color-text title-fleet wow fadeInDown">Airport transfer in the city</h2>
          <div class="content-single wow fadeInUp"> 
            <p>We offer luxury chauffeur driven airport transfers and pickups to London. Exceptional Safe, Meet and Greet. One hour of complimentary wait time and flight tracking. Professional Drivers & Vehicles. Fixed prices on airport transfers. VIP service, get your quote today!</p>
            <p>Et, morbi at sagittis vehicula rutrum. Lacus tortor, quam arcu mi et, at lectus leo nunc. Mattis cras auctor vel pharetra tempor. Rhoncus pellentesque habitant ac tempor. At aliquam euismod est in praesent ornare etiam id. Faucibus libero sit vehicula sed condimentum. Vitae in nam porttitor rutrum sed aliquam donec sed. Sapien facilisi lectus.</p>
            <ul class="list-ticks list-ticks-small">
              <li class="text-16 mb-20">100% Luxurious Fleet</li>
              <li class="text-16 mb-20">All Our Fleet Are Fully Valeted & Serviced</li>
              <li class="text-16 mb-20">A Safe & Secure Journey</li>
              <li class="text-16 mb-20">Comfortable And Enjoyable</li>
              <li class="text-16 mb-20">Clean, Polite & Knowledgeable</li>
            </ul>
          </div>
        </div>


        <div class="row align-items-center mt-90"> 
          <div class="col-lg-6 mb-30 wow fadeInDown"><img src="{% static 'imgs/page/services/img1.png' %}" alt="luxride"></div>
          <div class="col-lg-6 mb-30">
            
          </div>
        </div>



        
      </div>
    </section>
  </main>

{% endblock content %}